.error {
    color: red;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #f8d7da;
}

.success {
    color: green;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #d4edda;

}

.form-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

.form-checkbox {
  margin-left: 10px;
}

.form-button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0056b3;
}
/* Estilos para los botones */
.form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-button-danger {
  background: #dc3545;
}

.form-button-danger:hover {
  background: #c82333;
}
